.map-group {
  --map-background: transparent;
  --map-boundary-color: var(--color-foreground);
  --land-fill: var(--color-background);
  --land-stroke: var(--color-foreground);
  --grid-line-color: var(--color-foreground);
  --airport-fill: var(--color-green-500);
  --airport-stroke: var(--color-foreground);
  --delay-red: var(--color-red-500);
  --delay-yellow: var(--color-yellow-500);
  --delay-green: var(--color-green-500);
  --flight-route-color: var(--color-foreground);
  --flight-route-width: 2px;
}


/* SVG does layering based on render order, using the following structure:
   1. boundary (bottom layer)
   2. grid lines 
   3. land outlines
   4. airports (top layer)
   5. flight routes (very top layer)
*/

.map-boundary {
  fill: var(--map-background);
  stroke: var(--map-boundary-color);
  stroke-width: 1.5;
}

.meridian,
.parallel {
  fill: none;
  stroke: var(--grid-line-color);
  stroke-width: 1.5;
  opacity: 0.5;
  pointer-events: none;
}

.land {
  fill: var(--land-fill);
  stroke: var(--land-stroke);
  stroke-width: 1;
}

.airport {
  fill: var(--airport-fill);
  stroke: var(--airport-stroke);
  stroke-width: 0.5;
}

.airport.delay-red {
  fill: var(--delay-red);
}

.airport.delay-yellow {
  fill: var(--delay-yellow);
}

.airport.delay-green {
  fill: var(--delay-green);
}

.flight-route {
  fill: none;
  stroke: var(--flight-route-color);
  stroke-width: var(--flight-route-width);
  stroke-dasharray: 4, 4;
  /* stroke-linecap: round; */
  pointer-events: none;
  animation: dash-blink 1s steps(2, jump-start) infinite;
}

/* Animation to make the dash line "blink" using step animation with dash offset */
@keyframes dash-blink {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 8;
  }
} 